html {
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

header{

padding: 10px 10px 20px 10px;
}

header nav {

	margin-left: 5px;
}


.container {
	float: right;
	margin-top: 30px;
}



ul > a {
	text-decoration: none;
	border: red 1px;
	color: white;
	font-size: 25px;
	list-style: none;
	height: 30px;
	border-radius: 10px;
	margin: 15px;
	margin-bottom: 40px;
	float: left;
	padding: 10px;
}


.registrate {
	text-decoration: none;
	list-style: none;
	color: white;
	background-color: red;
	background-size: 300px;
	border-radius: 5px;
	font-size: 30px;
	width: 130px;
	height: 35px;
	float: right;
	margin-right: 100px;
}



header .nas ul a li{
	width:180px;
	border: 1px solid red;
	text-align: center;
	background-position: center;
}

p{
	text-align: justify center;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	font-size: 20px;
}



img {
	height: 25em;
	width: 50em;
	float: center;
	margin-top: -90px;
	margin-right: -100px;
	margin-left: 200px;

}

 footer {

 	float: left;
 	margin-top: 100px;
 	border-top: 2px #48b0e3

 }

footer img {

	float: left;
	width: 50px;
	height:50px;
	margin-left: 300px;
	margin-right: -200px;
}

#instagram {
	float: right;
	width: 50px;
	height:50px;
	margin-left: 300px;
}

